.sidebar{

  position:absolute;
  left:0px;
  bottom: 1px;
  top: 500px;
  width: 70px;
  z-index: 300;
  padding-top: 0px;
}




.sidebar-link{

  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(126, 183, 236);
  
}

.sidebar-link img{
  height: 20px;
  margin-bottom: 5px;

}


.sidebar-link div {
  font-family: Roboto, Arial;
  font-size: 8px;


}